@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    display: none;
}

:root {
    --color-custom: rgb(2, 210, 255);
}

html {
    font-family: Bahnschrift;
}

body {
    width: 100vw;
    background-image: url(fond_site.png);
    background-size: cover;
    background-attachment: fixed;
}

.barre {
    background: rgba(0,0, 37,0.35);
}

.page {
    /*background: linear-gradient(204deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 60%, rgba(47,156,179,1) 100%);    top: 0;*/
    left: 0;
    position: cover;
    width: 100%;
    height: 100%;
}

.pagination-b .pagination .current {
    display: none;
}

.pagination-b .pagination {
    margin-bottom: 25px;
}

.pagination {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: xx-large;
}

.pagination .page {
    display: none;
}

.pagination .current::before {
    content: "Page ";
}

.carrousel {
    width: max-content;
}

.poster {
    width: 350px;
    max-height: 650px;
    height: 50vh;
}

.titre {
    width: 350px;
}

.serie-encadre {
    box-shadow: 0px 0px 20px 0px var(--color-custom);
}

.dropdown:hover .dropdown-menu {
    display: block;
  }


/* Style description */

.description {
    width: 90vw;
    margin:auto;
}

.poster {
    max-height: 600px;
}

/* Syyle liste admin */

#email {
    margin-left: 15px;
    border-radius: 15px;
    padding: 5px;
    color: black;
    width: 300px;
}

/* Style register */
#registration_form_name {
    background-color: black;
    display: flex;
    border-radius: 5px;
    border: 2px solid blue;
    margin: 10px 0px;
    margin-bottom: 20px;
    padding: 5px;
}

#registration_form_email {
    background-color: black;
    display: flex;
    border-radius: 5px;
    border: 2px solid blue;
    margin: 10px 0px;
    margin-bottom: 20px;
    padding: 5px;
}

#registration_form_plainPassword {
    background-color: black;
    display: flex;
    border-radius: 5px;
    border: 2px solid blue;
    margin: 10px 0px;
    padding: 5px;
}

.infos li {
    color: red;
    font-size: 12px;
}

/* style Connexion */
label {
    color: white; 
}

#inputPassword {
    margin-bottom: 0px;
}

.remember {
    width: 30px;
    height: 30px;
}

.conn-section  {
    color: white;
    background-color: black;
    display: flex;
    border-radius: 5px;
    border: 2px solid blue;
    margin: 10px 0px;
    margin-bottom: 20px;
    padding: 5px;
}
