<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <ul class="flex items-center justify-between bg-black pt-5 pb-5 mb-5 rounded-b-2xl border-b-4 border-cyan-900 border-b">
            <img class="px-4 h-14 hidden sm:inline " src="{{ asset('img/logo_pc.png') }}" alt="logo"/>
            <img class="px-4 h-14 sm:hidden " src="{{ asset('img/logo_mobile.png') }}" alt="logo"/>
            <ul class="flex text-xl">
            <li class="nav-item pl-4 -mb-px mr-1">
              <a class="inline-block py-2 text-blue-500 hover:text-blue-800 font-semibold" href="#">Accueil</a>
            </li>
            <li class="hidden nav-item pl-4 mr-1">
              <a class="inline-block py-2  text-blue-500 hover:text-blue-800 font-semibold" href="#">Mes Séries</a>
            </li>
            <li class="nav-item pl-4 pr-4 mr-1">
              <a class="inline-block py-2 text-blue-500 hover:text-blue-800 font-semibold" href="#">Se connecter</a>
            </li>
          </ul>
        </ul>
        {% block body %}{% endblock %}
    </body>
</html>
