{% extends 'base.html.twig' %}

{% block title %}Liste séries{% endblock %}

{% block stylesheets %}
    {% endblock %}

{% block body %}
    <h1 class="page-title">Liste des séries</h1>

    <table class="table">
        
        <tbody class="serie-list">
        {% for series in series %}
            <tr class="film-encadre">
     
                <td class="film-title">{{ series.title }}</td>
                
                <td class="film-poster"><a href="{{ path('app_series_show', {'id': series.id})}}">
                    <img src="{{ series.displayPoster }}" alt="poster">
                </a>
                </td>
            
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        {{ knp_pagination_render(series)}}
        </tbody>
    </table>


{% endblock %}
