{% block stylesheets %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Bahnschrift">
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<style>
		body {
			background-image: none;
		}
	</style>
	<base target="_parent">
	<div class="carrousel flex flex-row w-full h-full items-center pb-10">
		{% for serie in seriesRand %}
				<div class="mx-px px-5 justify-center h-full">
					<a href="{{ path('app_series_show', {'id': serie.id})}} class="w-48 h-full">
						<img class="border-none rounded-3xl w-48 h-full" src="{{ serie.poster }}" alt="poster">
					</a>
					
			</div>
		{% endfor %}
	</div>
{% endblock %}
