{% block title %}Edit Rating{% endblock %}

{% block body %}
    <h1>Edit Rating</h1>

    {{ include('rating/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('rating/_delete_form.html.twig') }}
{% endblock %}
