{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <h1>Ajouter un nouvelle épisode à la saison {{ season.number }} de {{ season.series.title }}</h1>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('app_season_edit', {'id': season.id }) }}">back to list</a>
{% endblock %}
